<!DOCTYPE html>
<html lang="en">
<head>
    {{> headerlinks}}
    <title>Weather</title>
</head>

<body>
    <div class="container-fluid main_menu">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{> nav}};
                
            </div> 
        </div>
    </div>
    <!-- Main Header -->
    <div class="container-fluid main_header">
        <div class="col-md-10 col-12 main_header mx-auto">
            <div class="row">
                <div class="col-md-6 col-12 main_header_left align-items-center">
                    <figure>
                        <img src="images/about.jpg" alt="about">
                    </figure>
                </div>
                <div class="col-md-6 col-12 main_header_right">
                   <p>Welcome to Thapa Technical World</p>   
                   <h1>I am a <span>mern stack developer</span>. youtuber and a freelancer</h1>
                   <a href="/weather"><button>Check Now</button></a>
               </div>
            </div>
        </div>
    </div>
    <footer>
        <p>created with ♥ by thapa technical</p>
    </footer>
</body>

</html>